<button data-drawer-target="cta-button-sidebar" data-drawer-toggle="cta-button-sidebar" aria-controls="cta-button-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
</button> 
<aside id="cta-button-sidebar" class="fixed top-0 left-0 z-40 w-80 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <a href="https://flowbite.com/" class="flex items-center p-2">
            <!-- <img src="https://flowbite.com/docs/images/logo.svg" class="h-5 me-2 sm:h-6" alt="Flowbite Logo" /> -->
            <span class="text-xl font-semibold whitespace-nowrap dark:text-white mt-1">Warisan Kita</span>
        </a>        
        <hr class="h-px mt-3 mb-3 bg-gray-200 border-0 dark:bg-gray-700">
        <ul class="space-y-2 font-medium">
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                    </svg>                      
                    <span class="ms-3">Obrolan Baru</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>                      
                    <span class="flex-1 ms-3 whitespace-nowrap">History Obrolan</span>
                    <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-green-800 bg-green-100 rounded-full dark:bg-green-900 dark:text-green-300">3</span>
                </a>
            </li>
            <hr class="h-px mt-5 mb-5 bg-gray-200 border-0 dark:bg-gray-700">
            <li>
                <p class="text-gray-900 text-sm p-2">
                    Hari ini
                </p>
                <li class="flex flex-col">
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa itu batik?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Mengapa musik tradisional penting dalam budaya Indonesia?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa perbedaan antara wayang kulit dan wayang golek?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa yang dimaksud dengan "Gotong Royong" dalam budaya Indonesia?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Bagaimana peran tarian dalam upacara adat di Indonesia?
                    </span>
                </li>                                
            </li>
            <hr class="h-px mt-3 mb-3 bg-gray-200 border-0 dark:bg-gray-700">
            <li>
                <p class="text-gray-900 text-sm p-2">
                    Kemarin
                </p>
                <li class="flex flex-col">
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa itu Pancasila?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa fungsi dari rumah adat Indonesia?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa itu wayang kulit?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa yang dimaksud dengan upacara adat?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Mengapa bahasa daerah perlu dilestarikan?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa itu gamelan?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa peran seni lukis dalam budaya Indonesia?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa yang dimaksud dengan tradisi selametan?
                    </span>
                </li>                                       
            </li>
            <hr class="h-px mt-3 mb-3 bg-gray-200 border-0 dark:bg-gray-700">
            <li>
                <p class="text-gray-900 text-sm p-2">
                    7 Hari Terakhir
                </p>
                <li class="flex flex-col">
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa itu angklung?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa sejarah batik di Indonesia?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Mengapa tari kecak terkenal di Bali?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa itu makanan khas Jawa Barat?
                    </span>
                    <span class="text-gray-900 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
                        Apa yang dimaksud dengan "Serapan Budaya" dalam kehidupan sehari-hari?
                    </span>
                </li>                                                    
            </li>
            <hr class="h-px mt-3 mb-3 bg-gray-200 border-0 dark:bg-gray-700">
        </ul>
        <div id="dropdown-cta" class="p-4 mt-6 rounded-lg bg-green-50 dark:bg-green-900" role="alert">
            <div class="flex items-center mb-3">
                <span class="bg-orange-100 text-orange-800 text-sm font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-orange-200 dark:text-orange-900">Beta</span>
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-50 inline-flex justify-center items-center w-6 h-6 text-green-900 rounded-lg focus:ring-2 focus:ring-green-400 p-1 hover:bg-green-200 dark:bg-green-900 dark:text-green-400 dark:hover:bg-green-800" data-dismiss-target="#dropdown-cta" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
            </div>
            <p class="mb-3 text-sm text-green-800 dark:text-green-400">
                Nusantara-AI masih dalam tahap pengembangan beta. Kami mohon maaf jika terdapat ketidaktepatan dalam memberikan jawaban. Tim kami terus bekerja untuk meningkatkan kualitas dan akurasi sistem ini.
            </p>
            <a class="text-sm text-green-800 underline font-medium hover:text-green-900 dark:text-green-400 dark:hover:text-green-300" href="#">Pelajari lebih lanjut</a>
        </div>        
        </div>
    </aside>
    <div class="p-4 sm:ml-64">
        <div class="p-4 sm:ml-52 text-left lg:text-center mr-[90px]">
            <div class="p-3 mt-16 lg:mt-28">
                <h1 class="mb-8 text-5xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white">
                    Selamat Datang di <span class="text-green-600">Nusantara</span>
                </h1>
                <div class="fitur lg:grid lg:grid-cols-2 w-[600px] mx-auto grid gap-2 justify-start sm:justify-start">
                    <a href="#" class="inline-flex lg:w-[290px] w-[550px] items-center justify-between px-5 py-3 text-base font-medium text-center text-black border border-gray-200 bg-white rounded-xl hover:bg-gray-100  mx-auto">
                        <div class="title flex gap-3 items-center font-bold">
                            <svg class="w-10 h-10 text-blue-500 rounded-xl bg-blue-100 p-2 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M12 4a1 1 0 1 0 0 2 1 1 0 0 0 0-2Zm-2.952.462c-.483.19-.868.432-1.19.71-.363.315-.638.677-.831.93l-.106.14c-.21.268-.36.418-.574.527C6.125 6.883 5.74 7 5 7a1 1 0 0 0 0 2c.364 0 .696-.022 1-.067v.41l-1.864 4.2a1.774 1.774 0 0 0 .821 2.255c.255.133.538.202.825.202h2.436a1.786 1.786 0 0 0 1.768-1.558 1.774 1.774 0 0 0-.122-.899L8 9.343V8.028c.2-.188.36-.38.495-.553.062-.079.118-.15.168-.217.185-.24.311-.406.503-.571a1.89 1.89 0 0 1 .24-.177A3.01 3.01 0 0 0 11 7.829V20H5.5a1 1 0 1 0 0 2h13a1 1 0 1 0 0-2H13V7.83a3.01 3.01 0 0 0 1.63-1.387c.206.091.373.19.514.29.31.219.532.465.811.78l.025.027.02.023v1.78l-1.864 4.2a1.774 1.774 0 0 0 .821 2.255c.255.133.538.202.825.202h2.436a1.785 1.785 0 0 0 1.768-1.558 1.773 1.773 0 0 0-.122-.899L18 9.343v-.452c.302.072.633.109 1 .109a1 1 0 1 0 0-2c-.48 0-.731-.098-.899-.2-.2-.12-.363-.293-.651-.617l-.024-.026c-.267-.3-.622-.7-1.127-1.057a5.152 5.152 0 0 0-1.355-.678 3.001 3.001 0 0 0-5.896.04Z"
                            />
                            </svg>
                            Wisata Budaya
                        </div>
                        <svg class="w-7 h-7 ml-2 border border-gray-200 p-1 rounded-full items-center text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" d="M5 12h14m-7 7V5" />
                        </svg>
                    </a>
                    <a href="#" class="inline-flex lg:w-[290px] w-[550px] items-center justify-between px-5 py-3 text-base font-medium text-center text-black border border-gray-200 bg-white rounded-xl hover:bg-gray-100  mx-auto">
                        <div class="title flex gap-3 items-center font-bold">
                            <svg class="w-10 h-10 text-blue-500 rounded-xl bg-blue-100 p-2 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M12 4a1 1 0 1 0 0 2 1 1 0 0 0 0-2Zm-2.952.462c-.483.19-.868.432-1.19.71-.363.315-.638.677-.831.93l-.106.14c-.21.268-.36.418-.574.527C6.125 6.883 5.74 7 5 7a1 1 0 0 0 0 2c.364 0 .696-.022 1-.067v.41l-1.864 4.2a1.774 1.774 0 0 0 .821 2.255c.255.133.538.202.825.202h2.436a1.786 1.786 0 0 0 1.768-1.558 1.774 1.774 0 0 0-.122-.899L8 9.343V8.028c.2-.188.36-.38.495-.553.062-.079.118-.15.168-.217.185-.24.311-.406.503-.571a1.89 1.89 0 0 1 .24-.177A3.01 3.01 0 0 0 11 7.829V20H5.5a1 1 0 1 0 0 2h13a1 1 0 1 0 0-2H13V7.83a3.01 3.01 0 0 0 1.63-1.387c.206.091.373.19.514.29.31.219.532.465.811.78l.025.027.02.023v1.78l-1.864 4.2a1.774 1.774 0 0 0 .821 2.255c.255.133.538.202.825.202h2.436a1.785 1.785 0 0 0 1.768-1.558 1.773 1.773 0 0 0-.122-.899L18 9.343v-.452c.302.072.633.109 1 .109a1 1 0 1 0 0-2c-.48 0-.731-.098-.899-.2-.2-.12-.363-.293-.651-.617l-.024-.026c-.267-.3-.622-.7-1.127-1.057a5.152 5.152 0 0 0-1.355-.678 3.001 3.001 0 0 0-5.896.04Z"
                                />
                                </svg>
                                Koleksi Musik
                        </div>
                        <svg class="w-7 h-7 ml-2 border border-gray-200 p-1 rounded-full items-center text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" d="M5 12h14m-7 7V5" />
                        </svg>
                    </a>
                    <a href="#" class="inline-flex lg:w-[290px] w-[550px] items-center justify-between px-5 py-3 text-base font-medium text-center text-black border border-gray-200 bg-white rounded-xl hover:bg-gray-100  mx-auto">
                    <div class="title flex gap-3 items-center font-bold">
                        <svg class="w-10 h-10 text-green-500 rounded-xl bg-green-100 p-2 dark:text-whit" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z"
                        />
                        </svg>
                        Pakaian Adat
                    </div>
                    <svg class="w-7 h-7 ml-2 border border-gray-200 p-1 rounded-full items-center text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" d="M5 12h14m-7 7V5" />
                    </svg>
                    </a>
                    <a href="#" class="inline-flex lg:w-[290px] w-[550px] items-center justify-between px-5 py-3 text-base font-medium text-center text-black border border-gray-200 bg-white rounded-xl hover:bg-gray-100  mx-auto">
                    <div class="title flex gap-3 items-center font-bold">
                        <svg class="w-10 h-10 text-green-500 rounded-xl bg-green-100 p-2 dark:text-whit" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M13.5 2c-.178 0-.356.013-.492.022l-.074.005a1 1 0 0 0-.934.998V11a1 1 0 0 0 1 1h7.975a1 1 0 0 0 .998-.934l.005-.074A7.04 7.04 0 0 0 22 10.5 8.5 8.5 0 0 0 13.5 2Z" />
                        <path d="M11 6.025a1 1 0 0 0-1.065-.998 8.5 8.5 0 1 0 9.038 9.039A1 1 0 0 0 17.975 13H11V6.025Z" />
                        </svg>
                        Cerita Rakyat
                    </div>
                    <svg class="w-7 h-7 ml-2 border border-gray-200 p-1 rounded-full items-center text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" d="M5 12h14m-7 7V5" />
                    </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="inputMessage lg:pr-52 lg:pl-20 p-5 sm:ml-64 text-left lg:text-center lg:mt-[350px] mt-52">
            <div class="flex flex-col bg-background rounded-2xl shadow-lg border-2 buatNgirimPesan">
              <div class="relative p-3 font-medium">
                <input
                  type="text"
                  placeholder="Tulis Pertanyaan Kamu Disini"
                  class="w-full border border-white focus:border-transparent focus:ring-0"
                />
                <button class="absolute right-4 top-1/2 transform -translate-y-1/2 p-2">
                  <svg class="w-10 h-10 text-gray-800 rounded-full dark:text-white rotate-90 p-2 hover:bg-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" d="m12 18-7 3 7-18 7 18-7-3Zm0 0v-5" />
                  </svg>
                </button>
              </div>
              <div class="flex items-center p-5 justify-between font-medium text-muted-foreground border-2 border-t-gray-200 border-b-0 bg-gray-100 rounded-bl-xl rounded-br-xl">
                <div class="flex items-center space-x-6">
                  <button class="flex items-center text-muted-foreground hover:text-muted-foreground/80 transition duration-200">
                    <svg class="w-5 h-5 text-gray-800 dark:text-white rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8" />
                    </svg>
                    <span class="ml-2">File</span>
                  </button>
                  <button class="flex items-center text-muted-foreground hover:text-muted-foreground/80 transition duration-200">
                    <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path
                        d="M19 9v3a5.006 5.006 0 0 1-5 5h-4a5.006 5.006 0 0 1-5-5V9m7 9v3m-3 0h6M11 3h2a3 3 0 0 1 3 3v5a3 3 0 0 1-3 3h-2a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3Z"
                      />
                    </svg>
                    <span class="ml-2">Suara</span>
                  </button>
                </div>
                <span class="text-md font-medium text-muted-foreground">0 / 3,000</span>
              </div>
            </div>
            <div class="warningAi mt-4 text-center">
              <h5 class="font-medium text-gray-400 font-md">NusantaraAI can make mistakes.</h5>
            </div>
          </div          
    </div>
</div>