<div id="custom-controls-gallery" class="relative w-full mb-10 rounded-3xl" data-carousel="slide">
    <div class="relative h-56 overflow-hidden rounded-3xl md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out rounded-3xl" data-carousel-item>
            <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-3xl" alt="">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out rounded-3xl" data-carousel-item="active">
            <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-3xl" alt="">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out rounded-3xl" data-carousel-item>
            <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-3xl" alt="">
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out rounded-3xl" data-carousel-item>
            <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-3xl" alt="">
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out rounded-3xl" data-carousel-item>
            <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-3xl" alt="">
        </div>
    </div>
</div>