<div id="custom-controls-gallery" class="relative w-full mb-10 rounded-3xl" data-carousel="slide">
    <div class="relative h-52 overflow-hidden rounded-3xl md:h-[500px]">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out rounded-3xl" data-carousel-item>
            <img src="https://img.freepik.com/free-photo/nyepi-day-celebration-indonesia_23-2151325647.jpg?t=st=1735202457~exp=1735206057~hmac=2c85f694c58d4e9a1792481c9358aa315bee70ff855b4a3b5532ef4323b9b59f&w=1380" class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-3xl" alt="">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out rounded-3xl" data-carousel-item="active">
            <img src="https://img.freepik.com/free-photo/character-with-indonesian-flag_23-2151716373.jpg?t=st=1735202496~exp=1735206096~hmac=28bafeefb26c442a0be4a71093eaeb2b052ccc84ff273a708cbf540012cac614&w=1380" class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-3xl" alt="">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out rounded-3xl" data-carousel-item>
            <img src="https://img.freepik.com/free-photo/nyepi-day-celebration-indonesia_23-2151325676.jpg?t=st=1735202512~exp=1735206112~hmac=5f65f22e763b34a369ba51ddcdf251e7168a2a81b24b0670b15e95c4f6189c3e&w=1380" class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-3xl" alt="">
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out rounded-3xl" data-carousel-item>
            <img src="https://img.freepik.com/free-photo/nyepi-day-celebration-indonesia_23-2151325689.jpg?t=st=1735202539~exp=1735206139~hmac=3cff0be81f8ac5ca58b11988b7f0b417aa2d01668d1d136261fbfa3ec77d242d&w=1380" class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-3xl" alt="">
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out rounded-3xl" data-carousel-item>
            <img src="https://img.freepik.com/free-photo/nyepi-day-celebration-indonesia_23-2151325678.jpg?t=st=1735202562~exp=1735206162~hmac=6bd987d4c99b0e75e59f3ea18a09072d45701f385327b81e9ac97090f8241398&w=1380" class="absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-3xl" alt="">
        </div>
    </div>
</div>