@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

.paddingBro {
    padding-left: 50px;
    padding-right: 50px;
}

.radiusBro{
    border-radius: 40px;
}

body{
    background-image: url("https://wallpapercave.com/wp/wp11805135.jpg");
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

@media (max-width: 768px) {
    .paddingBro{
        padding-left: 10px;
        padding-right: 10px;
    }
    .radiusBro{
        border-radius: 0px;
    }
    .headerImg{
        min-height: 100vh;
    }
}