---
import Layout from "../layouts/default.astro"
import "../assets/css/font.css"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import Carousel from "../components/UI/Belajar/Carousel.astro"
---

<Layout>
    <Navbar />
    <section class="bg-white dark:bg-gray-900">
        <div class="px-4 mx-auto max-w-screen-xl text-left lg:py-16">
            <h1 class="mb-2 mt-10 text-4xl lg:text-5xl md:text-4xl font-bold tracking-tight leading-none text-gray-900">Menghormati Masa Lalu, Menciptakan Masa Depan</h1>
			<p class="mb-10 text-sm font-normal text-gray-400 lg:text-xl">Melalui upaya merawat dan melestarikan warisan alam serta budaya, kita tidak hanya menjaga identitas dan kearifan lokal, tetapi juga memastikan bahwa kemajuan yang kita raih tidak mengorbankan keberlanjutan.</p>
            <Carousel />
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <div class="grid grid-cols-1 lg:grid lg:grid-cols-4 md:grid md:grid-cols-2 gap-5">
                <div class="w-full bg-white border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="https://quizizz.com/admin/quiz/6021a2345e7ccf001bda16da/keragaman-pakaian-dan-tari-adat" target="_blank">
                        <img class="rounded-t-2xl w-full h-48 object-cover" src="https://i.pinimg.com/originals/b4/87/58/b4875898432c33be4b57c409b662db11.png" alt="Tari Adat" />
                    </a>
                    <div class="p-5">
                        <a href="javascript:void(0)">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tari Adat Tradisional Indonesia</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Pelajari berbagai jenis tari adat dari berbagai daerah di Indonesia. Dari tari Saman Aceh hingga tari Kecak Bali..</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Belajar Sekarang
                        </a>
                    </div>
                </div>
                <div class="w-full bg-white border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="javascript:void(0)">
                        <img class="rounded-t-2xl w-full h-48 object-cover" src="https://asset.kompas.com/crops/k1bNAjvuMqiZHgTY62DcaqZjBhE=/6x0:800x529/375x240/data/photo/2022/09/08/63196219761db.jpg" alt="Tari Adat" />
                    </a>
                    <div class="p-5">
                        <a href="https://quizizz.com/admin/quiz/5d89a5589e5d32001a7bf811/latihan-pts-seni-budaya" target="_blank">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mengenal Seni Tradisional Indonesia</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Bagian tak terpisahkan dari identitas budaya bangsa yang kaya akan nilai sejarah dan makna mendalam</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Belajar Sekarang
                        </a>
                    </div>
                </div>
                <div class="w-full bg-white border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="javascript:void(0)">
                        <img class="rounded-t-2xl w-full h-48 object-cover" src="https://www.batiqa.com/upload/news/l/festival-budaya-indonesia-tari-kecak-bali_o8334.jpg" alt="Tari Adat" />
                    </a>
                    <div class="p-5">
                        <a href="https://quizizz.com/admin/quiz/65d35dd8873bf950f55d69e3/kuis-jati-diri-bangsa-dan-budaya-nasional" target="_blank">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mengenal Festival Adat</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Pelajari berbagai jenis tari adat dari berbagai daerah di Indonesia. Dari tari Saman Aceh hingga tari Kecak Bali..</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Belajar Sekarang
                        </a>
                    </div>
                </div>
                <div class="w-full bg-white border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="javascript:void(0)">
                        <img class="rounded-t-2xl w-full h-48 object-cover" src="https://i.pinimg.com/originals/b4/87/58/b4875898432c33be4b57c409b662db11.png" alt="Tari Adat" />
                    </a>
                    <div class="p-5">
                        <a href="https://quizizz.com/admin/quiz/6021a2345e7ccf001bda16da/keragaman-pakaian-dan-tari-adat" target="_blank">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tari Adat Tradisional Indonesia</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Pelajari berbagai jenis tari adat dari berbagai daerah di Indonesia. Dari tari Saman Aceh hingga tari Kecak Bali..</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Belajar Sekarang
                        </a>
                    </div>
                </div>
                <div class="w-full bg-white border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="javascript:void(0)">
                        <img class="rounded-t-2xl w-full h-48 object-cover" src="https://asset.kompas.com/crops/k1bNAjvuMqiZHgTY62DcaqZjBhE=/6x0:800x529/375x240/data/photo/2022/09/08/63196219761db.jpg" alt="Tari Adat" />
                    </a>
                    <div class="p-5">
                        <a href="https://quizizz.com/admin/quiz/5d89a5589e5d32001a7bf811/latihan-pts-seni-budaya" target="_blank">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mengenal Seni Tradisional Indonesia</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Bagian tak terpisahkan dari identitas budaya bangsa yang kaya akan nilai sejarah dan makna mendalam</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Belajar Sekarang
                        </a>
                    </div>
                </div>
                <div class="w-full bg-white border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="javascript:void(0)">
                        <img class="rounded-t-2xl w-full h-48 object-cover" src="https://www.batiqa.com/upload/news/l/festival-budaya-indonesia-tari-kecak-bali_o8334.jpg" alt="Tari Adat" />
                    </a>
                    <div class="p-5">
                        <a href="https://quizizz.com/admin/quiz/65d35dd8873bf950f55d69e3/kuis-jati-diri-bangsa-dan-budaya-nasional" target="_blank">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mengenal Festival Adat</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Pelajari berbagai jenis tari adat dari berbagai daerah di Indonesia. Dari tari Saman Aceh hingga tari Kecak Bali..</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Belajar Sekarang
                        </a>
                    </div>
                </div>
                <div class="w-full bg-white border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="javascript:void(0)">
                        <img class="rounded-t-2xl w-full h-48 object-cover" src="https://i.pinimg.com/originals/b4/87/58/b4875898432c33be4b57c409b662db11.png" alt="Tari Adat" />
                    </a>
                    <div class="p-5">
                        <a href="https://quizizz.com/admin/quiz/6021a2345e7ccf001bda16da/keragaman-pakaian-dan-tari-adat" target="_blank">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tari Adat Tradisional Indonesia</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Pelajari berbagai jenis tari adat dari berbagai daerah di Indonesia. Dari tari Saman Aceh hingga tari Kecak Bali..</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Belajar Sekarang
                        </a>
                    </div>
                </div>
                <div class="w-full bg-white border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="javascript:void(0)">
                        <img class="rounded-t-2xl w-full h-48 object-cover" src="https://asset.kompas.com/crops/k1bNAjvuMqiZHgTY62DcaqZjBhE=/6x0:800x529/375x240/data/photo/2022/09/08/63196219761db.jpg" alt="Tari Adat" />
                    </a>
                    <div class="p-5">
                        <a href="https://quizizz.com/admin/quiz/5d89a5589e5d32001a7bf811/latihan-pts-seni-budaya" target="_blank">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mengenal Seni Tradisional Indonesia</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Bagian tak terpisahkan dari identitas budaya bangsa yang kaya akan nilai sejarah dan makna mendalam</p>
                        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Belajar Sekarang
                        </a>
                    </div>
                </div>
            </div>            
        </div>
    </section>
    <Footer />
</Layout>