---
import Layout from "../../layouts/default.astro"
import Card from "../UI/Galeri/Card-Parent.astro"
---

<Layout>
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-right lg:py-16">
            <h1 class="mb-5 text-5xl lg:text-6xl md:text-6xl font-bold tracking-tight leading-none text-gray-900">Warisan Budaya</h1>
            <Card />
        </div>
    </section>
</Layout>