---
import Layout from "../../layouts/default.astro";
import "../../assets/css/font.css";
---

<Layout>
    <section class="bg-white dark:bg-gray-900">
        <div class="px-4 mx-auto max-w-screen-xl text-left">
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <div class="flex justify-between lg:items-center items-start flex-col lg:flex-row gap-4">
                <span class="lg:text-sm font-semibold text-gray-400 text-center">
                    Author by <span class="text-gray-900">Riovaldo Alfiyan Fahmi Rahman</span>
                </span>
                <div class="flex lg:gap-5 gap-2">
                    <a href="https://linkedin.com/in/riovaldorahman" target="_blank">
                        <button type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-xl text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                            Linkedin
                        </button>
                    </a>
                    <a href="https://instagram.com/ckckckcz" target="_blank">
                        <button type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-xl text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                            Instagram
                        </button>
                    </a>
                </div>
            </div>            
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        </div>
    </section>
</Layout>