---
import Layout from "../../layouts/default.astro";
import Share from "./Share.astro"
import "../../assets/css/font.css";
---

<Layout>
    <section class="bg-white dark:bg-gray-900">
        <div class="px-4 mx-auto max-w-screen-xl mt-10 text-left">
            <div class="lg:h-[500px] mb-5">
                <img src="https://img.freepik.com/free-photo/beautiful-thai-woman-wearing-thai-dress-thai-dance_1150-16239.jpg?t=st=1735196298~exp=1735199898~hmac=b0af16b3c415829738678e068f31c62d21950c73057b22bb1466ce2fba7ae172&w=1380" class="w-full h-full object-cover lg:rounded-3xl rounded-2xl bg-center" alt="">
            </div>
            <div class="content1 mb-5 text-lg text-gray-500">
                <p>
                    Indonesia dikenal sebagai negara yang memiliki kekayaan budaya luar biasa. 
                    Salah satu bentuk budaya yang sangat kental dengan nilai-nilai tradisional adalah tarian adat.
                    Tarian adat bukan hanya bentuk seni pertunjukan, tetapi juga menjadi cerminan identitas dan cara masyarakat melestarikan budaya mereka. 
                    Tarian ini sering diiringi dengan musik tradisional dan kostum khas yang menjadikannya sarana bercerita tentang sejarah, kepercayaan, dan adat istiadat.
                </p>
            </div>
            <div class="content1 mb-5 text-lg text-gray-500">
                <p>
                    Selain berfungsi sebagai hiburan, tarian adat memiliki peran penting dalam mempererat persatuan, memperkenalkan Indonesia di kancah internasional, hingga menjadi daya tarik wisata. 
                    Setiap gerakan, musik, dan kostum yang digunakan dalam tarian adat membawa pesan yang sarat makna.
                </p>
            </div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <div class="content1 mb-5 text-lg text-gray-500">
                <span class="text-gray-900 text-3xl font-bold">Makna di Balik Tarian Adat</span>
                <p class="mt-2 mb-2">
                    Berikut ini adalah beberapa tarian adat dari berbagai daerah di Indonesia yang menunjukkan keberagaman budaya dan filosofi :              
                    <ul class="space-y-4 lg:pl-9 pl-0  text-gray-500 list-decimal list-inside dark:text-gray-400">
                        <li>
                            Tari Saman (Aceh)
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian ini berasal dari Gayo, Aceh, dan dikenal sebagai "Tarian Seribu Tangan". Tarian ini menggambarkan kerja sama dan persatuan.
                            </ol>
                        </li>
                        <li>
                            Tari Piring (Sumatera Barat)
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian ini menggunakan piring yang dipegang oleh penari sambil melakukan gerakan cepat. Biasanya dipentaskan dalam acara pernikahan.
                            </ol>
                        </li>
                        <li>
                            Tari Tor-Tor (Sumatera Utara)
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian ini berasal dari suku Batak dan diiringi musik Gondang, biasanya dipentaskan dalam acara adat.
                            </ol>
                        </li>
                        <li>
                            Tari Jaipong (Jawa Barat)
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian ini terinspirasi dari seni bela diri tradisional Jawa Barat dan sering digunakan dalam acara hiburan dan festival.
                            </ol>
                        </li>
                        <li>
                            Tari Reog (Ponorogo, Jawa Timur)
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian ini melambangkan kekuatan dan keberanian dengan topeng singa besar yang dikenal sebagai "Singa Barong".
                            </ol>
                        </li>
                        <li>
                            Tari Kecak (Bali)
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian ini mengisahkan kisah Ramayana dengan iringan suara "cak-cak" oleh para penari laki-laki, biasanya untuk wisatawan.
                            </ol>
                        </li>
                        <li>
                            Tari Pakarena (Sulawesi Selatan)
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian ini menggambarkan kelembutan hati wanita Bugis-Makassar dan sering dipentaskan dalam upacara adat.
                            </ol>
                        </li>
                        <li>
                            Tari Cakalele (Maluku)
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian perang khas Maluku yang melambangkan keberanian para prajurit, menggunakan senjata seperti parang dan perisai.
                            </ol>
                        </li>
                        <li>
                            Tari Musyoh (Papua)
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian ini digunakan untuk mengantarkan arwah seseorang agar beristirahat dengan tenang dalam upacara adat tertentu.
                            </ol>
                        </li>
                        <li>
                            Tari Giring-Giring (Kalimantan Tengah)
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian ini menggunakan bambu sebagai alat musik pengiring dan melambangkan kegembiraan serta rasa syukur.
                            </ol>
                        </li>
                    </ul>                    
                </p>
            </div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <div class="content1 mb-5 text-lg text-gray-500">
                <span class="text-gray-900 text-3xl font-bold">Makna di Balik Tarian Adat</span>
                <p class="mt-2 mb-2">
                    Setiap tarian adat tidak hanya memiliki keindahan visual, tetapi juga menyimpan makna filosofis yang mendalam : 
                    <ul class="space-y-4 lg:pl-9 pl-0 text-gray-500 list-decimal list-inside dark:text-gray-400">
                        <li>
                            Persatuan dan Harmoni
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian seperti Tari Saman menunjukkan pentingnya kerja sama dan harmoni dalam kehidupan bermasyarakat.
                            </ol>
                        </li>
                        <li>
                            Ungkapan Rasa Syukur
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tari Piring dan Tari Giring-Giring seringkali digunakan untuk menyampaikan rasa syukur kepada Tuhan atas hasil panen atau keberkahan lainnya.
                            </ol>
                        </li>
                        <li>
                            Cerita Kepahlawanan
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tarian seperti Tari Reog dan Tari Cakalele menggambarkan keberanian dan semangat juang.
                            </ol>
                        </li>
                        <li>
                            Spiritualitas
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                Tari Musyoh dan Tari Bedhaya sering digunakan dalam ritual keagamaan atau acara adat yang bersifat sakral.
                            </ol>
                        </li>
                    </ul>                    
                </p>
            </div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <div class="content1 mb-5 text-lg text-gray-500">
                <span class="text-gray-900 text-3xl font-bold">Peran Tarian Adat dalam Kehidupan Modern</span>
                <p class="mt-2 mb-2">
                    Meskipun tarian adat adalah warisan masa lalu, bukan berarti ia kehilangan relevansi di zaman modern. Tarian adat kini banyak dimodifikasi untuk tampil di acara-acara besar, baik nasional maupun internasional. Misalnya, Tari Pendet pernah menjadi pembuka Asian Games, dan Tari Saman sering tampil di festival budaya dunia.                    
                </p>
                <p class="mt-2 mb-2">
                    Namun, tantangan pelestarian tarian adat tetap ada. Generasi muda cenderung kurang tertarik karena menganggap tarian adat kurang sesuai dengan gaya hidup modern. Oleh karena itu, perlu adanya inovasi dalam memperkenalkan tarian adat, seperti menggunakan media digital atau menggabungkannya dengan elemen musik kontemporer.    
                </p>
            </div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <div class="content1 mb-5 text-lg text-gray-500">
                <span class="text-gray-900 text-3xl font-bold">Kesimpulan</span>
                <p class="mt-2 mb-2">
                    Tarian adat Indonesia adalah harta karun budaya yang tak ternilai. Dengan melestarikan tarian adat, kita tidak hanya menjaga warisan leluhur, tetapi juga memperkenalkan kekayaan budaya Indonesia ke dunia. Setiap gerakan, irama musik, dan kostum yang digunakan adalah bukti betapa kayanya budaya kita. Generasi muda memiliki tanggung jawab untuk terus merawat dan memperkenalkan seni ini agar tetap hidup dan relevan.    
                </p>
            </div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
                    <Share />
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        </div>
    </section>
</Layout>