---
import Layout from "../../layouts/default.astro"
import Comment from "./Template/commentInput.astro";
---

<Layout>
    <section class="bg-white dark:bg-gray-900">
        <div class="mx-auto max-w-screen-xl mt-10 text-left">
            <div class="flex justify-between">
                <span class="text-gray-900 text-3xl font-bold">Discussion()</span>
                <button type="button" class="text-white bg-green-700 hover:bg-green-800 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2">
                    Subscribe
                </button>
            </div>      
            <Comment />
            <article class="px-6 py-8 mb-3 text-base bg-gray-100 dark:border-gray-700 dark:bg-gray-900 rounded-2xl">
                <footer class="flex justify-between items-center mb-3">
                    <div class="flex items-center justify-center">
                        <img class="mr-2 w-6 h-6 rounded-full"
                            src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg"
                            alt="Bonnie Green">
                        <p class="inline-flex items-center mr-3 text-md text-center text-gray-900 dark:text-white font-semibold">
                            User
                        </p>
                        <p class="text-sm text-gray-600 dark:text-gray-400">Mar. 12, 2024</p>
                    </div>                    
                </footer>
                <p class="text-gray-900 dark:text-gray-400 text-lg">Keren Wak !</p>
            </article>
        </div>
    </section>
</Layout>