---
import { Image } from "astro:assets";
import tarianAdat from "../../../../assets/img/Galeri/tarianAdat.png";
import wisataAlam from "../../../../assets/img/Galeri/wisataAlam.png";
import upacaraAdat from "../../../../assets/img/Galeri/upacaraAdat.png";
---
<div class="relative group">
    <Image class="h-96 max-w-full rounded-3xl object-cover" src={tarianAdat} alt="tarianAdat" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <div class="absolute bottom-3 left-3 text-left">
            <p class="text-yellow-300 lg:text-lg text-md font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Tarian Adat
            </p>
            <p class="text-gray-300 lg:text-md text-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Tarian tradisional dari Indonesia yang memiliki keindahan dan nilai budaya tinggi.
            </p>
        </div>
    </div>
</div>
<div class="relative group">
    <Image class="h-72 object-cover max-w-full rounded-3xl" src={wisataAlam} alt="wisataAlam" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <div class="absolute bottom-3 left-3 text-left">
            <p class="text-yellow-300 lg:text-lg text-md font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Wisata Alam
            </p>
            <p class="text-gray-300 lg:text-md text-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Keindahan alam Indonesia yang memukau dengan pesona pegunungan, pantai, dan keanekaragaman hayati.
            </p>
        </div>
    </div>
</div>
<div class="relative group">
    <Image class="h-72 object-cover max-w-full rounded-3xl" src={upacaraAdat} alt="upacaraAdat" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <div class="absolute bottom-3 left-3 text-left">
            <p class="text-yellow-300 lg:text-lg text-md font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Upacara Adat
            </p>
            <p class="text-gray-300 lg:text-md text-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Tradisi sakral yang mencerminkan nilai-nilai budaya dan kearifan lokal masyarakat Indonesia.
            </p>
        </div>
    </div>
</div>