---
import { Image } from "astro:assets";
import seniAdat from "../../../../assets/img/Galeri/seniAdat.png";
import rumahAdat from "../../../../assets/img/Galeri/rumatAdat.png";
import pakaianAdat from "../../../../assets/img/Galeri/pakaianAdat.png";
---
<div class="relative group">
    <Image class="h-72 object-cover max-w-full rounded-3xl" src={pakaianAdat} alt="pakaianAdat" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <p class="text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute bottom-3 left-3">Pakaian Aadat</p>
    </div>
</div>
<div class="relative group">
    <Image class="h-72 object-cover max-w-full rounded-3xl" src={seniAdat} alt="seniAdat" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <p class="text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute bottom-3 left-3">Seni Tradisional</p>
    </div>
</div>
<div class="relative group">
    <Image class="h-96 max-w-full rounded-3xl object-cover" src={rumahAdat} alt="rumahAdat" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <p class="text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute bottom-3 left-3">Rumah Adat</p>
    </div>
</div>