---
import { Image } from "astro:assets";
import musikAdat from "../../../../assets/img/Galeri/musikAdat.png";
import makananAdat from "../../../../assets/img/Galeri/makananAdat.png";
import floraFauna from "../../../../assets/img/Galeri/floraFauna.png";
---
<div class="relative group">
    <Image class="h-72 object-cover max-w-full rounded-3xl" src={musikAdat} alt="musikAdat" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <p class="text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute bottom-3 left-3">Musik Adat</p>
    </div>
</div>
<div class="relative group">
    <Image class="h-96 max-w-full rounded-3xl object-cover" src={makananAdat} alt="makananAdat" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <p class="text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute bottom-3 left-3">Makanan Tradisional</p>
    </div>
</div>
<div class="relative group">
    <Image class="h-72 object-cover max-w-full rounded-3xl" src={floraFauna} alt="floraFauna" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <p class="text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute bottom-3 left-3">Flora dan Fauna</p>
    </div>
</div>