---
import { Image } from "astro:assets";
import festivalAdat from "../../../../assets/img/Galeri/festivalAdat.png";
import ceritaRakyat from "../../../../assets/img/Galeri/ceritaRakyat.png";
import bahasaAksara from "../../../../assets/img/Galeri/bahasaAksara.png";
---
<div class="relative group">
    <Image class="h-72 object-cover max-w-full rounded-3xl" src={festivalAdat} alt="festivalAdat" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <div class="absolute bottom-3 left-3 text-left">
            <p class="text-yellow-300 lg:text-lg text-md font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Festival Adat
            </p>
            <p class="text-gray-300  lg:text-md text-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Perayaan budaya penuh warna yang menunjukkan keberagaman tradisi di Indonesia.
            </p>
        </div>
    </div>
</div>
<div class="relative group">
    <Image class="h-72 object-cover max-w-full rounded-3xl" src={ceritaRakyat} alt="ceritaRakyat" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <div class="absolute bottom-3 left-3 text-left">
            <p class="text-yellow-300 lg:text-lg text-md font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Cerita Rakyat
            </p>
            <p class="text-gray-300  lg:text-md text-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Kisah-kisah penuh hikmah yang diwariskan untuk melestarikan kearifan lokal.
            </p>
        </div>
    </div>
</div>
<div class="relative group">
    <Image class="h-96 max-w-full rounded-3xl object-cover" src={bahasaAksara} alt="bahasaAksara" />
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <div class="absolute bottom-3 left-3 text-left">
            <p class="text-yellow-300 lg:text-lg text-md font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Bahasa Aksara
            </p>
            <p class="text-gray-300  lg:text-md text-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Kekayaan bahasa dan tulisan tradisional yang menjadi warisan budaya bangsa.
            </p>
        </div>
    </div>
</div>