<div class="relative group">
    <img class="h-auto max-w-full rounded-3xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="">
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <p class="text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute bottom-3 left-3">Text Here</p>
    </div>
</div>
<div class="relative group">
    <img class="h-auto max-w-full rounded-3xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="">
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <p class="text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute bottom-3 left-3">Text Here</p>
    </div>
</div>
<div class="relative group">
    <img class="h-auto max-w-full rounded-3xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="">
    <div class="absolute inset-0 bg-blend-multiply bg-green-800 group-hover:bg-opacity-70 transition-opacity duration-300 ease-in-out rounded-3xl opacity-0 group-hover:opacity-100">
        <p class="text-white text-lg font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute bottom-3 left-3">Text Here</p>
    </div>
</div>